.ql-container>.ql-editor.ql-blank::before {
    color: var(--tc-surface-low);
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
}

.ql-container,
.ql-editor {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
}

.ql-container.ql-snow {
    border: none !important;
}

// .iql-mention {
//     vertical-align: middle;
//     height: 20px;
// }

.iql-mention {
    background-color: #222222;
    color: rgb(211, 211, 211);
    border-radius: 3px;
    padding: 2px 5px;
    margin: 2px;
    display: inline;
    /* Обеспечивает корректное поведение курсора */
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    pointer-events: none;
}

// .user-mention:empty::before, .user-mention:empty::after {
//     content: "​";
//     display: inline-block;
// }