.notification-badge {
	min-width: 16px;
	min-height: 8px;
	padding: 0 var(--sp-ultra-tight);
	background-color: var(--mui-palette-common-background);
	border-radius: var(--mui-shape-borderRadius);

	.text {
		color: var(--mui-palette-common-onBackground);
		text-align: center;
	}

	&--alert {
		background-color: var(--mui-palette-success-dark);
	}

	&:empty {
		min-width: 8px;
		margin: 0 var(--sp-ultra-tight);
	}
}