@use '../../partials/dir';
@use '../../partials/flex';

.room-settings {

    & .room-profile {
        padding: var(--sp-loose) var(--sp-extra-loose);
    }

    & .tabs__content {
        padding: 0 var(--sp-normal);
    }

    &__cards-wrapper {
        padding: 0 var(--sp-normal);
        @include dir.side(padding, var(--sp-normal), var(--sp-normal));
    }

    &__topic>.text-b1 {
        padding-top: var(--sp-extra-loose);
        @include dir.side(padding, var(--sp-normal), var(--sp-normal));
    }

    &__topic>.text-b3 {
        padding-bottom: var(--sp-extra-loose);
        @include dir.side(padding, var(--sp-normal), var(--sp-normal));
    }

    &__actions {
        padding-top: var(--sp-normal);
        display: flex;
        justify-content: center;
    }
}

.room-settings__card {
    margin: var(--sp-normal) 0;
    overflow: hidden;

    &>.context-menu__header:first-child {
        margin-top: 2px;
    }
}

.room-settings .room-permissions__card,
.room-settings .room-search__form,
.room-settings .room-search__result-item,
.room-settings .room-members {
    @extend .room-settings__card;
}