@use '../../partials/dir.scss';

.space-settings {
    & .room-profile {
        padding: var(--sp-loose) var(--sp-extra-loose);
    }

    & .tabs__content {
        padding: 0 var(--sp-normal);
    }

    &__cards-wrapper {
        padding: 0 var(--sp-normal);
        @include dir.side(padding, var(--sp-normal), var(--sp-extra-tight));
    }
}

.space-settings__card {
    padding: var(--sp-normal);
    overflow: hidden;
}

.space-settings .room-permissions__card,
.space-settings .room-members {
    @extend .space-settings__card;
}