@use 'state';
@use '../../partials/dir';
@use '../../partials/text';

.btn-surface,
.btn-primary,
.btn-positive,
.btn-caution,
.btn-danger {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 4px;

	min-width: 80px;
	padding: var(--sp-extra-tight) var(--sp-normal);
	background-color: transparent;
	border: none;
	border-radius: var(--bo-radius);
	cursor: pointer;
	@include state.disabled;

	& .text {
		@extend .cp-txt__ellipsis;
	}

	&--icon {
		@include dir.side(padding, var(--sp-tight), var(--sp-loose));

	}

	.ic-raw {
		@include dir.side(margin, 0, var(--sp-extra-tight));
		flex-shrink: 0;
	}
}

@mixin color($textColor, $iconColor) {
	.text {
		color: $textColor;
	}

	color: $iconColor;
}