@use '../../partials/flex';
@use '../../partials/dir';
@use '../../partials/screen';

.settings-window {
    overscroll-behavior-y: none;

    .header .btn-danger {
        margin: 0 var(--sp-tight);
        box-shadow: none;
    }

    & .tabs__content {
        padding: 0 var(--sp-normal);
    }

    &__cards-wrapper {
        padding: var(--sp-normal);
        height: min-content;
    }

    &__content {
        min-height: 100%;
        overscroll-behavior-y: none;

        & .profile-editor {
            padding: var(--sp-tight);
        }
    }
}

.settings-window__card {
    margin: var(--sp-normal) 0;
    overflow: hidden;
    overscroll-behavior-y: none;

    &>.context-menu__header:first-child {
        margin-top: 2px;
    }
}

.settings-appearance__card,
.settings-notifications,
.global-notification,
.keyword-notification,
.ignore-user-list,
.settings-security__card,
.settings-security .device-manage,
.settings-about__card,
.settings-emoji__card,
.settings-extera__card,
.settings-presence__card {
    @extend .settings-window__card;
}

.settings-presence__status>form {
    margin: var(--sp-extra-tight) 0 var(--sp-normal);
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp-tight);

    div:has(input[name="statusInput"]) {
        flex-grow: 1;
    }
}

.settings-window__cards-wrapper {
    & .setting-tile {
        margin: 0 var(--sp-normal);
        margin-top: var(--sp-normal);
        padding-bottom: 16px;

        &:last-child {
            border-bottom: none;
        }
    }
}

.settings-notifications {
    &__not-supported {
        padding: 0 var(--sp-ultra-tight);
    }
}

.settings-about {
    &__branding {
        padding: var(--sp-normal);
        display: flex;

        &>div {
            margin: 0 var(--sp-loose);
        }

    }

    &__btns {
        & button {
            margin-top: var(--sp-tight);
            @include dir.side(margin, 0, var(--sp-tight));
        }
    }

    &__credits {
        padding: 0 var(--sp-normal);

        & ul {
            color: var(--tc-surface-low);
            padding: var(--sp-normal);
            margin: var(--sp-extra-tight) 0;
        }
    }
}