.room-permissions {
    padding-top: var(--sp-normal);

    & .setting-tile {
        margin: 0 var(--sp-normal);
        margin-top: var(--sp-tight);
        padding-bottom: var(--sp-tight);

        &:last-child {
            border-bottom: none;
        }
    }
}